<div class="container">
  <mat-card class="container-element">
    <mat-card-title>Subscribe</mat-card-title>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>Notify me at: </label>

      <div class="time-picker">
        <mat-form-field appearance="outline">
          <mat-label>HH</mat-label>

          <mat-select [formControl]="hours">
            <mat-option *ngFor="let _ of [].constructor(24); index as hour" [value]="hour">
              {{ ('0' + hour).slice(-2) }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="colon">:</span>

        <mat-form-field appearance="outline">
          <mat-label>MM</mat-label>

          <mat-select [formControl]="minutes">
            <mat-option *ngFor="let _ of [].constructor(60); index as minute" [value]="minute">
              {{ ('0' + minute).slice(-2) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <label>when the rate of: <b>{{ cols[fRate.value] }}</b></label>

      <mat-button-toggle-group name="fRate" [formControl]="fRate">
        <mat-button-toggle *ngFor="let col of cols; let i = index" [value]="i">
          {{ col }}
        </mat-button-toggle>
      </mat-button-toggle-group>

      <label>is higher than the rate of: <b>{{ cols[sRate.value] }}</b></label>

      <mat-button-toggle-group name="sRate" [formControl]="sRate">
        <mat-button-toggle #sRateToggle *ngFor="let col of cols; let i = index" [value]="i"
                           [disabled]="fRate.value >= sRateToggle.value">
          {{ col }}
        </mat-button-toggle>
      </mat-button-toggle-group>

      <app-form-actions [form]="form"></app-form-actions>
    </form>

    <mat-card-footer *ngIf="form.disabled">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
