<div class="container">
  <mat-card>
    <mat-card-title>Register</mat-card-title>

    <mat-card-subtitle>
      Already have an account?
      <a routerLink="/login"><b>Login!</b></a>
    </mat-card-subtitle>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="name">

        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-error>{{ getError(name, 'Name') }}</mat-error>

        <mat-hint align="end">{{ name.value?.length || 0 }}/{{ maxNameLength }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email">

        <mat-icon matPrefix>email</mat-icon>
        <mat-error>{{ getError(email, 'Email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" [formControl]="tel">

        <mat-icon matPrefix>phone</mat-icon>
        <mat-error>{{ getError(tel, 'Phone number') }}</mat-error>
      </mat-form-field>

      <app-password [control]="password"></app-password>

      <div class="button-group">
        <div [matTooltip]="form.invalid ? 'Fill in all required fields!' : ''">
          <button mat-flat-button color="primary" type="submit"
                  [disabled]="form.invalid || form.disabled">
            <mat-icon inline>check</mat-icon>
            Submit
          </button>
        </div>

        <button mat-flat-button color="warn" type="reset" [disabled]="form.disabled">
          <mat-icon inline>close</mat-icon>
          Reset
        </button>
      </div>
    </form>

    <mat-card-footer *ngIf="form.disabled">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
