h1 {
  font-weight: 500;
  margin-bottom: 0;
}

.mat-spinner {
  transform: scale(0.5);
}

.mat-card {
  .mat-card-title {
    margin-bottom: 0.25rem;
  }

  .mat-card-subtitle {
    margin: 0;
  }
}
