<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput [formControl]="control"
         [type]="isHidden ? 'password' : 'text'"/>

  <mat-icon matPrefix>lock</mat-icon>
  <mat-error>{{ getError() }}</mat-error>

  <button mat-icon-button matSuffix type="button"
          [matTooltip]="(isHidden ? 'Show' : 'Hide') + ' password'"
          (click)="isHidden = !isHidden">
    <mat-icon>{{ isHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>
