<div class="container">
  <mat-card class="form-card">
    <mat-card-title>Register</mat-card-title>

    <mat-card-subtitle>
      Already have an account?
      <a routerLink="/login">Login!</a>
    </mat-card-subtitle>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-name-field [control]="name"></app-name-field>
      <app-tel-field [control]="tel"></app-tel-field>
      <app-email-field [control]="email"></app-email-field>
      <app-password-field [control]="password"></app-password-field>

      <app-form-actions [form]="form"></app-form-actions>
    </form>

    <mat-card-footer *ngIf="form.disabled">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
