@import './themes';
@import './mixins';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container-element {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;

    @include xs {
      width: 62.5%;
    }

    @include sm {
      width: 50%;
    }
    @include md {
      width: 37.5%;
    }
    @include lg {
      width: 25%;
    }
  }
}

.space-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.mat-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.mat-form-field {
  min-width: 100%;
}

.mat-card {
  .mat-card-header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    > .mat-card-header-text {
      margin-left: 0;
    }
  }

  .mat-card-footer {
    margin-top: 1rem;
  }
}
